/* These styles are just to make it easier to see the blocks, initially. */

body {
	--spacing: 2em;

	font-family: monospace;
	padding: var(--spacing);
}

body, header, section, ul, li, footer {
	display: grid;
	gap: var(--spacing);
}

a { color: blue; }
em { font-style: italic; }
strong { font-weight: bold; }
p { max-width: 50ch; }
